@import '../../styles/global.styles';

// PAGE CONTAINER
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;

  padding: 1rem;

  // LANDING
  &.landing {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
  }

  // NOT FOUND
  &.notfound {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  
    height: 90vh;
  }
}

// ********************************** MEDIA QUERIES ********************************** //
@media screen and (min-width: 500px) {

}

// 800px MEDIA QUERY
@media screen and (min-width: 800px) {
  .container {
    padding: 0;

    // LANDING PAGE
    &.landing {
      flex-direction: row;
    }
  }
}