@import '../../styles/global.styles';

// POST ITEM
.newsfeedItem {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  padding: 1rem;
  background: lighten($lightgrey, 8%);

  // USER CONTAINER
  .userContainer {
    display: flex;

    .avatar {
      max-height: 10rem;
      border-radius: 50%;
    }

    .postedBy {
      margin-top: auto;
      margin-bottom: 0;
      margin-left: 1rem;

      .profileLink {
        color: $link;
        font-weight: bold;
      }
    }
  }

  // CONTENT CONTAINER
  .contentContainer {
    .content {
      white-space: pre-line;
    }

    .commentsLink {
      color: $link;
      margin-bottom: 1rem;
      margin-left: auto;
    }
  }

  // COMMENT CONTAINER
  .commentContainer {
    margin-bottom: 1rem;

    .header {
      font-weight: bold;
    }
  }

  button {
    margin-top: 1rem;
  }
}

// ********************************** MEDIA QUERIES ********************************** //
@media screen and (min-width: 500px) {

}

// 800px MEDIA QUERY
@media screen and (min-width: 800px) {

}