@import '../../styles/global.styles';

// PROFILE
.profile {

  // PROFILE CONTAINER
  .profileContainer {
   
    // HEADER SECTION
    .profileHeader {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      padding: 2rem 0;
      margin-bottom: 1rem;

      background: lighten($lightgrey, 7.5%);

      .name {
        margin: 0;
      }

      .friends {
        margin-top: 1rem;
      }
    }

    // CONTENT SECTION
    .profileContent {
      display: flex;
      flex-direction: column;
      padding: 0 1rem;

      .avatar {
        height: 100%;
        width: 50%;
        margin-right: 1rem;
        border-radius: 50%;
      }

      .bioContainer {

        .bioHeader {

        }

        .bio {
          white-space: pre-line;
        }
      }
    }

    // POSTS SECTION
    .postsContainer {
      margin-bottom: 1rem;

      .postsHeader {
        font-size: 1.8rem;
        text-decoration: underline;
      }

      .post {
        background: lighten($lightgrey, 7.5%);
        padding: 1rem;
        margin-bottom: 1rem;

        .postTitle {
          font-weight: bold;
        }

        .postContent {
          font-size: 1.4rem;
        }
      }
    }

    // LINKS SECTION
    .linksContainer {
      margin-top: 2.5rem;
      text-align: center;
      width: 60%;
      margin-left: auto;
      margin-right: auto;
    
      .link {
        display: flex;
        align-items: center;
        justify-content: center;
        color: $link;
        text-decoration: underline;
        font-size: 1.5rem;
    
        .linkIcon {
          padding-top: 2.5px;
          font-size: 1.5rem;
        }
      }
    }
  }
}

// ********************************** MEDIA QUERIES ********************************** //
@media screen and (min-width: 500px) {
  // PROFILE
  .profile {

    // PROFILE CONTAINER
    .profileContainer {
    
      // HEADER SECTION
      .profileHeader {

      }

      // CONTENT SECTION
      .profileContent {
        display: flex;
        flex-direction: row;

        .avatar {
          width: auto;
        }

        .bioContainer {

          .bioHeader {

          }

          .bio {

          }
        }
      }
    }
  }
}

// 800px MEDIA QUERY
@media screen and (min-width: 800px) {

}