@import '../../styles/global.styles';

// FORM INPUT
.input {
  height: 3rem;
  width: 100%;
  margin-bottom: 0.5rem;
  padding: 0 0.5rem;

  // SMALL
  &.small {
    width: 10rem;
    height: 2rem;
    font-size: 1.2rem;
    margin-bottom: 0;
    margin-right: 0.5rem;
  }

  // SEARCH
  &.search {
    width: 90%;
    height: 3rem;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    border-radius: 2rem;
    font-family: $primary-font;
    background: lighten($lightgrey, 7.5%);
  }
}

// ********************************** MEDIA QUERIES ********************************** //
@media screen and (min-width: 500px) {
  .input {
    width: 35rem;

    &.small {
      width: 15rem;
    }

    // SEARCH
    &.search {
      width: 50%;
    }
  }
}

// 800px MEDIA QUERY
@media screen and (min-width: 800px) {
  .input {
    
  }
}