@import '../../styles/global.styles';

// NAVBAR
.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;

  padding: 1rem;

  .logoContainer {
    display: flex;
    align-items: center;

    .logoImg {
      height: 3rem;
      width: auto;
    }

    .logo {
      font-family: $terminator-font;
      text-transform: uppercase;
      color: $primary-color;
    }
  }

  .authLinks {

  }

  .links {
    display: flex;
    align-items: center;
    list-style: none;

    .link {
      margin-left: 1rem;
      text-transform: uppercase;
      color: $primary-color;
      cursor: pointer;
    }

    .active {
      font-weight: bold;
    }
  }
}

// ********************************** MEDIA QUERIES ********************************** //
@media screen and (min-width: 500px) {
  .navbar {
    flex-direction: row;
  }
}

// 800px MEDIA QUERY
@media screen and (min-width: 800px) {
  .navbar {
    padding: 1rem 0;
  }
}
